<p class="text-center">

<element class="highlight">
    <element class="go">
    {{ site.data.about.intro }}
    </element>
</element>

<br><br>

{{ site.data.about.university_intro }}
<element class="highlight">
    <element class="gs">
    {{ site.data.about.university_degree }}
    </element>
</element>
at
<element class="highlight">
    <element class="gs">
        <a href="{{ site.data.about.university_url }}">{{ site.data.about.university_name }}</a>
    </element>
</element>
.

{{ site.data.about.king_scholarship_intro }}
<element class="highlight">
    <element class="gs">
        <a href="{{ site.data.about.king_scholarship_url }}">{{ site.data.about.king_scholarship }}</a>
    </element>
</element>
{{ site.data.about.king_intro }}
<element class="highlight">
    <element class="gs">
    {{ site.data.about.king_role }}
    </element>
</element>
at 
<element class="highlight">
    <element class="gs">
        <a href="{{ site.data.about.king_url }}">{{ site.data.about.king }}</a>
    </element>
</element>
.

{{ site.data.about.ubisoft_intro }}
<element class="highlight">
    <element class="gs">
    {{ site.data.about.ubisoft_role }}
    </element>
</element>
at 
<element class="highlight">
    <element class="gs">
        <a href="{{ site.data.about.ubisoft_url }}">{{ site.data.about.ubisoft }}</a>
    </element>
</element>
while I do my bachelor's thesis, a 2D multiplayer game about programming your own bot and battling against others which combines game AI and networking.

<br><br>

{{ site.data.about.outro }}

<br><br><br>

<img class="img-responsive img-circle my-profile-pic" src="{{ site.data.about.featured_image }}">

</p>